
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="tech-btm">
	<h4>Mail Bültenine Abone Ol</h4>
	<p>Bloglar size mail ile yollanacaktır. </p>
	<form id="news"  method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input id="btnSubscribe" type="submit" value="ABONE OL">
	</form>

    <script>
        $(document).ready(function () {
            $("#news").submit(function (e) {
                e.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    url: '/NewsLetter/SubscribeMail',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        $("input[name='Mail']").val('');

                        alert('Successfully subscribed!');
                    },
                    error: function (error) {
                        alert('Error subscribing.');
                    }
                });
            });
        });
    </script>

</div>