@using EntityLayer.Concrete
@model User

<div class="dropdown profile-element">
    <img alt="image" class="rounded-circle" src="@Model.Image" width="60px" />
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="block m-t-xs font-bold">@Model.NameSurname</span>
        <span class="text-muted text-xs block">Yönetici</span>
    </a>
</div>