<li>
    <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar </span><span class="label label-warning float-right">@ViewBag.result</span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="/Admin/Message/Inbox/">Gelen Kutusu</a></li>
        <li><a href="mail_detail.html">Giden Kutusu</a></li>
        <li><a href="mail_compose.html">Mesaj Gönder</a></li>
    </ul>
</li>
