<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h2 >Kontrol Paneli</h2>
                <h3 class="font-bold">
                    Detaylar
                </h3>
                <small style="margin-top: 4px">Bu detaylı panelden admin rolünde gerekli operasyonları yapabilirsiniz. Burada toplam blog sayısı, toplam kategori sayısı, toplam mesaj sayısını ve eklenen son postu görüntüleyebilirsiniz. Bu detaylı panelden admin rolünde gerekli operasyonları yapabilirsiniz. Burada toplam blog sayısı, toplam kategori sayısı, toplam mesaj sayısını ve eklenen son postu görüntüleyebilirsiniz. Bu detaylı panelden admin rolünde gerekli operasyonları yapabilirsiniz. Burada toplam blog sayısı, toplam kategori sayısı, toplam mesaj sayısını ve eklenen son postu görüntüleyebilirsiniz.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h2>Son Aktiviteler</h2>
                <h3 class="font-bold">
                    Eklenen Son Blog
                </h3>
                <small style="margin-top: 4px">@ViewBag.lastBlog</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h2>₺ 50,992</h2>

                <h3 class="font-bold">
                   Kazanç
                </h3>
                <small style="margin-top: 4px">(Ürün Tanıtımları - Kampanyalar - Reklam Anlaşmaları)</small>
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>