@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@* <div style="height: 70vh; position: relative; overflow: hidden;">
    <img src="~/coredemotheme/images/car.jpg" style="width: 100%; height: 100%; object-fit: cover;"/>
</div> *@

    <section class="custom-hero-section d-flex justify-content-center align-items-center">

    <div class="custom-section-overlay"></div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <h2 class="text-white">Welcome to the club</h2>

                <h1 class="custom-cd-headline rotate-1 text-white mb-4 pb-2">
                        <span>Tiya is</span>
                    <span class="custom-cd-words-wrapper">
                            <b class="is-visible">Modern</b>
                            <b>Creative</b>
                            <b>Lifestyle</b>
                        </span>
                    </h1>

                    <div class="custom-btn-group">
                        <a href="#section_2" class="btn custom-btn smoothscroll me-3">Our Story</a>

                        <a href="#section_3" class="link smoothscroll">Become a member</a>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="ratio ratio-16x9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/MGNgbNGOzh8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
    </section>


<section class="custom-about-section custom-section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h2 class="mb-lg-5 mb-4">About Tiya</h2>
                </div>

                <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0">
                    <h3 class="mb-3">Tiya Club History</h3>

                    <p><strong>Since 1984</strong>, Tiya is ranked #8 in the top 10 golf courses in the world. Tiya is Bootstrap 5 HTML CSS template for golf clubs. Anyone can modify and use this layout for commercial purposes.</p>

                    <p>Tiya Golf Club is 100% free CSS template provided by TemplateMo website. Please tell your friends about our website. Thank you for visiting.</p>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                <div class="custom-member-block">
                    <div class="custom-member-block-image-wrap">
                        <img src="~/slider/images/members/portrait-young-handsome-businessman-wearing-suit-standing-with-crossed-arms-with-isolated-studio-white-background.jpg" class="custom-member-block-image img-fluid" alt="">

                        <ul class="custom-social-icon">
                            <li class="custom-social-icon-item">
                                <a href="#" class="custom-social-icon-link bi-twitter"></a>
                                </li>

                            <li class="custom-social-icon-item">
                                <a href="#" class="custom-social-icon-link bi-whatsapp"></a>
                                </li>
                            </ul>
                        </div>

                    <div class="custom-member-block-info d-flex align-items-center">
                            <h4>Michael</h4>

                            <p class="ms-auto">Founder</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                <div class="custom-member-block">
                    <div class="custom-member-block-image-wrap">
                        <img src="~/slider/images/members/successful-asian-lady-boss-red-blazer-holding-clipboard-with-documens-pen-working-looking-happy-white-background.jpg" class="custom-member-block-image img-fluid" alt="">

                        <ul class="custom-social-icon">
                            <li class="custom-social-icon-item">
                                <a href="#" class="custom-social-icon-link bi-linkedin"></a>
                                </li>
                            <li class="custom-social-icon-item">
                                <a href="#" class="custom-social-icon-link bi-twitter"></a>
                                </li>
                            </ul>
                        </div>

                    <div class="custom-member-block-info d-flex align-items-center">
                            <h4>Sandy</h4>

                            <p class="ms-auto">Co-Founder</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


<section class="custom-section-bg-image">
        <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                <div class="custom-section-bg-image-block">
                        <h2 class="mb-lg-3">Get our newsletter</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore.</p>

                    </div>
                </div>

            </div>
        </div>

        <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>
    </section>


<section class="custom-membership-section custom-section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center mx-auto mb-lg-5 mb-4">
                    <h2><span>Membership</span> at Tiya</h2>
                </div>

                <div class="col-lg-6 col-12 mb-3 mb-lg-0">
                    <h4 class="mb-4 pb-lg-2">Membership Fees</h4>

                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th style="width: 34%;">Yearly Access</th>

                                    <th style="width: 22%;">T1 $420</th>

                                    <th style="width: 22%;">T2 $640</th>

                                    <th style="width: 22%;">T3 $860</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row" class="text-start">Golf Insurance</th>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row" class="text-start">Club Facilities</th>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row" class="text-start">Country Club</th>

                                    <td>
                                        <i class="bi-x-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row" class="text-start">Weekend Seasonal</th>

                                    <td>
                                        <i class="bi-x-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row" class="text-start">Premium Courses</th>

                                    <td>
                                        <i class="bi-x-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-x-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row" class="text-start">Pro's Networking</th>

                                    <td>
                                        <i class="bi-x-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-x-circle-fill"></i>
                                    </td>

                                    <td>
                                        <i class="bi-check-circle-fill"></i>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-5 col-12 mx-auto">
                    <h4 class="mb-4 pb-lg-2">Please join us!</h4>
                </div>

            </div>
        </div>
    </section>


<section class="custom-events-section section-bg section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <h2 class="mb-lg-3">Upcoming Events</h2>
                </div>

                <div class="row custom-blocks mb-3">
                    <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                        <div class="custom-blocks-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                            <h6 class="custom-blocks-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0">24</h6>

                            <strong class="text-white">Feb 2048</strong>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                        <div class="custom-blocks-image-wrap">
                            <a href="#">
                                <img src="~/coredemotheme/slider/images/professional-golf-player.jpg" class="custom-blocks-image img-fluid" alt="">

                                <i class="custom-blocks-icon bi-link"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 order-3 order-lg-0">
                        <div class="custom-blocks-info mt-2 mt-lg-0">
                        <a href="#" class="custom-events-title mb-3">Private activities</a>

                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                <div class="mb-4 mb-lg-0">
                                    <div class="d-flex flex-wrap align-items-center mb-1">
                                        <span class="custom-blocks-span">Location:</span>

                                        <p class="mb-0">National Center, NYC</p>
                                    </div>

                                    <div class="d-flex flex-wrap align-items-center">
                                        <span class="custom-blocks-span">Ticket:</span>

                                        <p class="mb-0">$250</p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center ms-lg-auto">
                                    <a href="#" class="btn custom-btn">Buy Ticket</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row custom-blocks custom-blocks-bg">
                    <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                        <div class="custom-blocks-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                            <h6 class="custom-blocks-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0">28</h6>

                            <strong class="text-white">Feb 2048</strong>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                        <div class="custom-blocks-image-wrap">
                            <a href="#">
                                <img src="~/coredemotheme/slider/images/girl-taking-selfie-with-friends-golf-field.jpg" class="custom-blocks-image img-fluid" alt="">

                                <i class="custom-blocks-icon bi-link"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 order-3 order-lg-0">
                        <div class="custom-blocks-info mt-2 mt-lg-0">
                            <a href="#" class="events-title mb-3">Group tournament activities</a>

                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                <div class="mb-4 mb-lg-0">
                                    <div class="d-flex flex-wrap align-items-center mb-1">
                                        <span class="custom-blocks-span">Location:</span>

                                        <p class="mb-0">National Center, NYC</p>
                                    </div>

                                    <div class="d-flex flex-wrap align-items-center">
                                        <span class="custom-blocks-span">Ticket:</span>

                                        <p class="mb-0">$350</p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center ms-lg-auto">
                                    <a href="#" class="btn custom-btn">Buy Ticket</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


<section class="custom-contact-section custom-section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-12">
                </div>

                <div class="col-lg-6 col-12">
                <div class="custom-contact-info mt-5">
                        <div class="contact-info-item">
                        <div class="custom-contact-info-body">
                                <strong>London, United Kingdom</strong>

                                <p class="mt-2 mb-1">
                                <a href="tel: 010-020-0340" class="custom-contact-link">
                                        (020)
                                        010-020-0340
                                    </a>
                                </p>

                                <p class="mb-0">
                                <a href="mailto:info@company.com" class="custom-contact-link">
                                        info@company.com
                                    </a>
                                </p>
                            </div>

                        <div class="custom-contact-info-footer">
                                <a href="#">Directions</a>
                            </div>
                        </div>

                        <img src="~/coredemotheme/slider/images/WorldMap.svg" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>

 <footer class="custom-site-footer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0E0F10" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="~/slider/js/jquery.min.js"></script>
    <script src="~/slider/js/bootstrap.bundle.min.js"></script>
    <script src="~/slider/js/jquery.sticky.js"></script>
    <script src="~/slider/js/click-scroll.js"></script>
    <script src="~/slider/js/animated-headline.js"></script>
    <script src="~/slider/js/modernizr.js"></script>
    <script src="~/slider/js/custom.js"></script>
