@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
    <div class="text-center">
        <h1 class="display-4">HOŞGELDİNİZ</h1>
        <p>Burası, Anasayfa alanıdır.</p>
    </div>
</div>