@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div style="height: 70vh; position: relative; overflow: hidden;">
    <img src="~/coredemotheme/images/car.jpg" style="width: 100%; height: 100%; object-fit: cover;"/>
</div>