@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section style="margin-top:10px" class="custom-hero-section d-flex justify-content-center align-items-center">

    <div class="custom-section-overlay"></div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <h1 class="custom-cd-headline rotate-1 text-white mb-4 pb-2">
                    <span class="custom-cd-words-wrapper">
                        <b class="is-visible">PureBlog'a</b>
                        <h2 class="text-white">Hoşgeldiniz</h2>
                    </span>
                </h1>
            </div>

            <div class="col-lg-6 col-12" id="dotlottie-container">
                <dotlottie-player style="height: 400px; width:400px;overflow:hidden; border-radius: 10px;" src="https://lottie.host/8289f572-3f13-40ee-8186-d1c316788dbf/MKc7W7lETG.json" background="#3D405B" speed="1" direction="1" playMode="normal" loop autoplay></dotlottie-player>
                <script>
                    var dotlottiePlayer = document.querySelector('dotlottie-player');
                    function resizePlayer() {
                        var screenWidth = window.innerWidth;
      
                        if (screenWidth > 480) {
                            dotlottiePlayer.style.width = '400px';
                            dotlottiePlayer.style.height = '400px';
                        } else {
                            dotlottiePlayer.style.width = '280px';
                            dotlottiePlayer.style.height = '280px';
                        }
                    }
                    resizePlayer();
                    window.addEventListener('resize', resizePlayer);
                </script>
            </div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</section>


<section class="custom-about-section custom-section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-lg-5 mb-4">İçerde ne var?</h2>
            </div>

            <div class="col-lg-12 col-12 me-auto mb-4 mb-lg-0 text-center">
                <p><strong>PureBlog</strong>, tutkulu bir yazı severin dünyasına açılan kapıdır. Sadece saf içeriklere odaklanan bu platformda, derin düşünceye sahip yazarların kaleminden çıkan benzersiz yazıları keşfedin. Her satırda saf bilgi ve samimiyetle dolu, sizi düşündüren bir blog deneyimi sizi bekliyor.</p>
          <br />
          <br />
          <br />
            </div>
        </div>
    </div>
</section>


<section class="custom-section-bg-image">
    <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="custom-section-bg-image-block">
                    <h2 class="mb-lg-3">Özgün İçerikler</h2>

                    <p>Hepsi birbirinden eşsiz bu içeriklere bir göz atmak isteyebilirsin.</p>

                </div>
            </div>

        </div>
    </div>

    <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>
</section>


<section class="custom-about-section custom-section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-lg-5 mb-4">Üyelik ücretli mi?</h2>
            </div>

            <div class="col-lg-12 col-12 me-auto mb-4 mb-lg-0 text-center">
                <p><strong>Hayır</strong>, dilediğince kaydolup sınırsız içeriğin tadını çıkarabilrisiniz. PureBlog, sizden herhangi bir ücret talep etmeyecektir.</p>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</section>


<section class="custom-events-section section-bg custom-section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center mx-auto mb-lg-5 mb-4">
                <h2>Üyelik Sistemi</h2>
            </div>

            <div class="col-lg-12 col-12 mb-3 mb-lg-0">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th style="width: 34%;">Üyelik Tipi</th>
                                <th style="width: 22%;">Yorum Yapma</th>
                                <th style="width: 22%;">Blog Ekleme</th>
                                <th style="width: 22%;">Genel Yönetim</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-start">-</th>

                                <td>
                                    <i class="bi-check-circle-fill"></i>
                                </td>

                                <td>
                                    <i class="bi-x-circle-fill"></i>
                                </td>

                                <td>
                                    <i class="bi-x-circle-fill"></i>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Yazar</th>

                                <td>
                                    <i class="bi-check-circle-fill"></i>
                                </td>

                                <td>
                                    <i class="bi-check-circle-fill"></i>
                                </td>
                                <td>
                                    <i class="bi-x-circle-fill"></i>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Admin</th>

                                <td>
                                    <i class="bi-check-circle-fill"></i>
                                </td>

                                <td>
                                    <i class="bi-check-circle-fill"></i>
                                </td>

                                <td>
                                    <i class="bi-check-circle-fill"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <style>
                        .table thead th {
                            border-bottom: 1px solid #dee2e6;
                        }

                        .table tbody tr:first-child {
                            border-top: none;
                        }

                        .table tbody tr:last-child {
                            border-bottom: 1px solid #dee2e6;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />

<footer class="custom-site-footer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0E0F10" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</footer>