@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazarlar</h1>
<br />
<div style="margin-bottom: 5px" id="writerById">ID ile Yazar getir</div>
   <div class="row">
        <div class="col col-lg-10">
            <input id="writerId" type="text" placeholder="Yazar ID giriniz" class="form-control" />
       </div>
        <div class="col col-lg-2">
            <button id="btnGetById" class="btn btn-outline-success" type="button">ID ile Yazar Ara</button>
       </div>
   </div>
<br />
<div id="writerList">Yazarlar</div>

@section scripts {
    <script>
        function loadWriterList() {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                url: "/Admin/Writer/WriterList",
                success: function (func) {
                    let writer = jQuery.parseJSON(func);
                    let tableHtml = "<div class=table-responsive><table class=table><tr><th>ID</th><th>Kullanıcı Adı</th><th>Ad - Soyad</th><th>Hakkında</th><th>Görsel Yolu</th><th>E-mail</th><th>Durum</th></tr>";

                    $.each(writer, (index, value) => {
                        let statusText = value.WriterStatus ? 'Aktif' : 'Pasif';
                        tableHtml += `<tr><td>${value.WriterID}</td><td>${value.WriterUserName}</td><td>${value.WriterNameSurname}</td><td>${value.WriterAbout}</td><td>${value.WriterImage}</td><td>${value.WriterMail}</td><td>${statusText}</td></tr>`;
                    });

                    tableHtml += "</table></div>";
                    $("#writerList").html(tableHtml);
                }
            });
        }

        $(document).ready(function () {
            loadWriterList();

            $("#btnGetById").click(function () {
                let id = $("#writerId").val();

                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    dataType: "json",
                    url: "/Admin/Writer/GetWriterByID",
                    data: { writerId: id },
                    success: function (func) {
                        let writer = jQuery.parseJSON(func);
                        let statusText = writer.WriterStatus ? 'Aktif' : 'Pasif';

                        let value = `<div class=table-responsive><table class=table><tr><th>ID</th><th>Kullanıcı Adı</th><th>Ad - Soyad</th><th>Hakkında</th><th>Görsel Yolu</th><th>E-mail</th><th>Durum</th></tr><tr><td>${writer.WriterID}</td><td>${writer.WriterUserName}</td><td>${writer.WriterNameSurname}</td><td>${writer.WriterAbout}</td><td>${writer.WriterImage}</td><td>${writer.WriterMail}</td><td>${statusText}</td></tr>`;
                        value += "</table></div>";

                        $("#writerById").html(value);
                    }
                });
            });
        });
    </script>

}
