
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button id="btnGetList" class="btn btn-outline-primary" type="button">Yazar Listesi</button>
<br/><br/>
<div id="writerList">Yazarlar</div>
<br />
<div id="writerById">ID ile Yazar getir</div>
<br />
<div><input id="writerId" type="text" placeholder="Yazar ID giriniz" class="form-control"/></div>
<br />
<button id="btnGetById" class="btn btn-outline-success" type="button">Yazar Getir</button>
<br />
<br />
<a href="/Admin/Writer/WriterAdd/" class="btn btn-primary">Yazar Ekle</a>
@section scripts{
<script>
    $("#btnGetList").click(function () {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            url: "/Admin/Writer/WriterList",
            success: function (func) {

                let writer = jQuery.parseJSON(func);
                console.log(writer);
                let tableHtml = "<table class=table table-bordered><tr><th>Yazar ID</th><th>Yazar Ad-Soyad</th></tr>";
                
                $.each(writer, (index, value) => 
                {
                        tableHtml += `<tr><td>${value.ID}</td><td>${value.Name}</td></tr>`;
                });
                tableHtml += "</table>";
                $("#writerList").html(tableHtml);
            }
        });
    });

    $("#btnGetById").click(a => 
        {
            let id = $("#writerId").val();
            console.log(id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            url: "/Admin/Writer/GetWriterByID",
            data: { writerId: id },
            success: function (func) {
                let writer = jQuery.parseJSON(func);
                console.log(writer);
                let value = `<table class=table table-bordered><tr><th>Yazar ID</th><th>Yazar Adı-Soyadı</th></tr><tr><td>${writer.ID}</td><td>${writer.Name}</td></tr></table>`
                $("#writerById").html(value);
                }
            });
        });
</script>
}

             