@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/coredemotheme/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/coredemotheme/css/contact.css" rel='stylesheet' type='text/css' />
    <link href="~/coredemotheme/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/coredemotheme/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>
<body>
    <section class="main-content-w3layouts-agileits">

        <h3 class="tittle">Bana Ulaşın</h3>
        <p class="sub text-center">Öneri/Hata Bildirin </p>
        <div class="contact-map inner-sec">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48438.00184293581!2d29.2249881221454!3d40.643660857045276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cafacc286b4cb1%3A0xb60ab599f8c5d1d0!2sYalova%2C%20Yalova%20Merkez%2FYalova!5e0!3m2!1str!2str!4v1704754226829!5m2!1str!2str"
                    class="map" style="border:0" allowfullscreen=""></iframe>
        </div>
        <div class="ad-inf-sec bg-light">
            <div class="container">
                <div class="address row">
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Adres</h6>
                                <p>
                                    Yalova, TR
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Email</h6>
                                <p>
                                    <a href="mailto:info@pureblog.com.tr"> info@pureblog.com.tr</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Telefon</h6>
                                <p>+90 XXX XXX 71 70</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contact_grid_right">
                <form method="post">
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left">
                            <div class="form-group">
                                <label for="validationCustom01 my-2">Ad</label>
                                <input class="form-control" type="text" name="ContactUserName" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email</label>
                                <input class="form-control" type="email" name="ContactMail" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom03 my-2">Konu</label>
                                <input class="form-control" type="text" name="ContactSubject" placeholder="" required="">
                            </div>
                        </div>
                        <div class="col-md-6 con-right">
                            <div class="form-group">
                                <label for="textarea">Mesaj</label>
                                <textarea id="textarea" name="ContactMessage" placeholder=""></textarea>
                            </div>
                            <input class="form-control" type="submit" value="Gönder">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>