
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>PureBlog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
		<script>
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
	<link href="~/coredemotheme/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="~/coredemotheme/css/single.css">
	<link href="~/coredemotheme/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/coredemotheme/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
		  rel="stylesheet">
	<link href="~/coredemotheme/css/contact.css" rel='stylesheet' type='text/css' />



	@* <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet"> *@

@* 	<link href="~/slider/css/bootstrap.min.css" rel="stylesheet"> *@
	<link href="~/slider/css/bootstrap-icons.css" rel="stylesheet">
	<link href="~/slider/css/custom.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 logo text-left">
					<a class="navbar-brand" href="/Home/Index/">
						<img src="~/coredemotheme/images/logo.png" alt="logo" style="height: auto; max-height: 40px; vertical-align: middle; margin-right: 10px;">
					</a>
				</div>
			@await Component.InvokeAsync("TopBarInfo")
				<div class="col-md-4 log-icons text-right">
					<ul class="social_list1 mt-3">
						<li>
							<a href="https://www.facebook.com" class="facebook1">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="https://www.x.com" class="twitter2">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="https://www.pinterest.com" class="pin">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	@await Html.PartialAsync("TopSectionPartial")
	</header>
@RenderBody()
	@await Html.PartialAsync("FooterPartial")
	<script src="~/coredemotheme/js/jquery-2.2.3.min.js"></script>
	<script src="~/coredemotheme/js/move-top.js"></script>
	<script src="~/coredemotheme/js/easing.js"></script>
	<script src="~/coredemotheme/js/bootstrap.js"></script>
	<script src="~/coredemotheme/js/jquery.flexisel.js"></script>

	<script src="https://unpkg.com/@@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<script>
		$(document).ready(function () {

			var defaults = {
				containerID: 'toTop',
				containerHoverID: 'toTopHover',
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
</body>
</html>